<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
  <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>

  <style>
    body{ 
      font-size: 15pt;
      font-family: arial;
    }
    .col-md-6{
   
    }
  </style>

</head>
<body>

      <div class="modal fade" id="group" role="dialog">
    <div class="modal-dialog">

      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header">
          Add Member
          <button type="button" class="close" data-dismiss="modal">&times;</button>
        </div>
        <div id="modalBody" class="modal-body">
          <div  class="container-fluid text-center">
            <form action="/add_member">
<p>Group gid: <input type="text" name="groupname" placeholder="See url"></p>
<p>Member Username: <input type="text" name="username"></p>
<p><button type="submit" class="btn btn-default">Add</button></p>
</form>
          </div>
        </div>

        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        </div>
      </div>    
    </div>
  </div>

<div class="modal fade" id="comments" role="dialog">
      <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal">&times;</button>
          </div>
          <div id="modalBody" class="modal-body">
            <div id="modalBodyContainer" class="container-fluid text-center">
            </div>
          </div>

          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
          </div>
        </div>    
      </div>
    </div>
{% for group in groups%}
  <h1 class="text-center">{{group.name}}</h1>
{% endfor %}
<div class="container text-center">
  <div class="col-md-6">
    {% for photo in photos %}
      <p><img src={{photo.url}} width="200" height="200"></p>
      <p>By {{photo.owner}} - Likes {{photo.likes}}</p>
      <button type="button" class="btn btn-default" data-toggle="modal" data-target="#comments" onclick="getComments('{{photo.pid}}')">Comments</button><p></p>
    {% endfor %}
  </div>
  <div class="col-md-6">
    <p>Group Members</p>
    {% for user in members %}
      <p><a href="/{{user.username}}">{{user.username}}</a></p>
    {% endfor %}
    <p><button type="button" class="btn btn-default" data-toggle="modal" data-target="#group" >Add Member</button></p>
  </div>
</div>


<script type="text/javascript">

function getComments(pid){

document.getElementById("modalBodyContainer").innerHTML = "";
$.ajax({
      url: '/comments/'+pid,
      success: function (response) { 
        var i;
        var comments = response.comments;
        for(i = 0; i<comments.length; i++){
          document.getElementById("modalBodyContainer").innerHTML += '<p><strong>'+comments[i].commenter+'</strong> said: '+comments[i].text+'</p>';
        }
        
      }
    });
}

</script>
</body>


</html>

