<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
  <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">


  <style>
  body{ 
    font-size: 15pt;
    font-family: arial;
    padding-right: 5%;
    padding-left: 5%;
    padding-bottom: 5%;
  }
  #searchBar{
    width: 600px;
  }
  #input{
    padding-bottom: 6%;
  }
  h1{
    padding-bottom: 2%;
  }

  </style>

</head>
<body>

  <div class="modal fade" id="group" role="dialog">
    <div class="modal-dialog">

      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header">
          Create Group
          <button type="button" class="close" data-dismiss="modal">&times;</button>
        </div>
        <div id="modalBody" class="modal-body">
          <div  class="container-fluid text-center">
            <form action="/create_group">
              <p>Group Name: <input type="text" name="groupname"></p>
              <p>Username: <input type="text" name="username"></p>
              <p><button type="submit" class="btn btn-default"> Create</button></p>
            </form>
          </div>
        </div>

        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        </div>
      </div>    
    </div>
  </div>

  <div class="modal fade" id="comments" role="dialog">
    <div class="modal-dialog">

      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
        </div>
        <div id="modalBody" class="modal-body">
          <div id="modalBodyContainer" class="container-fluid text-center">
          </div>
        </div>

        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        </div>
      </div>    
    </div>
  </div>

  <div class="modal fade" id="results" role="dialog">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
        </div>
        <div id="modalBody" class="modal-body">
          <div id="SearchModalBodyContainer" class="container-fluid text-center">
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        </div>
      </div>    
    </div>
  </div>
  <h1 class="text-center">InstaGroups</h1>
  <div class="container-fluid">
    <div class="dropdown col-md-6">
      <button id="d" class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">Tag Category
        <span class="caret"></span></button>
        <ul id="d2"class="dropdown-menu">
          <li><a href="/category/animals"> Animals</a></li>
          <li><a href="/category/emotions"> Emotions</a></li>
          <li><a href="/category/nature"> Nature</a></li>
          <li><a href="/category/music"> Music</a></li>
          <li><a href="/category/school"> School</a></li>
        </ul>
      </div>

      <div id="input" class="col-md-6"> 
        <div id="searchBar" class="input-group">
          <input id="searchForTag" class="form-control" type="text" placeholder="Search for Tags">
          <a class=" btn btn-default input-group-addon" onclick="searchTag()" data-toggle="modal" data-target="#results"><i class="fa fa-search fa-fw"></i></a>

          <input id="searchForUsers" class="form-control" type="text" placeholder="Search for Users">
          <a class=" btn btn-default input-group-addon" onclick="searchUser()" data-toggle="modal" data-target="#results"><i class="fa fa-search fa-fw"></i></a>
        </div>
      </div>

    </div>
    <div class="container-fluid text-center">
      <div class="col-md-6">
        {% for photo in photos %}
        <p><img src={{photo.url}} width="200" height="200"></p>
        <p>By {{photo.owner}} - Likes {{photo.likes}}</p>
        <button type="button" class="btn btn-default" data-toggle="modal" data-target="#comments" onclick="getComments('{{photo.pid}}')">Comments</button><button type="button" class="btn btn-default" onclick="like('{{photo.pid}}','{{name}}')">Like</button><p></p>
        {% endfor %}
      </div>
      <div class="col-md-6">
        <p>Groups</p>
        {% for group in groups %}
        <p><a href="/group/{{group.gid}}">{{group.name}}</a></p>
        {% endfor %}

        <p><button type="button" class="btn btn-default" data-toggle="modal" data-target="#group" >Create Group</button></p>
        <h3>Upload a picture</h3>
      <form action="/upload_picture/{{name}}" method=post enctype=multipart/form-data>
      <p><input type=file name=file></p>
         <p><input type=submit></p>
    </form>
      </div>
    </div>


    <script type="text/javascript">

    function getComments(pid){

      document.getElementById("modalBodyContainer").innerHTML = "";
      $.ajax({
        url: '/comments/'+pid,
        success: function (response) { 
          var i;
          var comments = response.comments;
          for(i = 0; i<comments.length; i++){
            document.getElementById("modalBodyContainer").innerHTML += '<p><strong>'+comments[i].commenter+'</strong> said: '+comments[i].text+'</p>';
          }

        }
      });
    }

    function searchTag(){

      document.getElementById("SearchModalBodyContainer").innerHTML = "";
      var input = document.getElementById("searchForTag").value;

      $.ajax({
        url: '/tags/'+input,
        success: function (response) { 
          var i;
          var tags = response.tags;
          for(i = 0; i<tags.length; i++){
            document.getElementById("SearchModalBodyContainer").innerHTML += '<p><a href=/tag/'+tags[i].name+'>'+tags[i].name+'</a></p>';
          }

        }
      });
    }

    function searchUser(){

      document.getElementById("SearchModalBodyContainer").innerHTML = "";
      var input = document.getElementById("searchForUsers").value;

      $.ajax({
        url: '/users/'+input,
        success: function (response) { 
          var i;
          var users = response.users;
          for(i = 0; i<users.length; i++){
            document.getElementById("SearchModalBodyContainer").innerHTML += '<p><a href=/'+users[i].name+'>'+users[i].name+'</a><button type="button" class="btn btn-default" onclick=follow("'+users[i].name+'")>Follow</button></p>';
          }

        }
      });
    }

    function like(pid, username){
      var data ={
        "pid" : pid,
        "username" : username,
      };
      $.ajax({
        url: '/like/'+pid+"/"+username,
        data: data,
        success: function (response) { 
        }
      });
    }

    function follow(un){
      $.ajax({
        url: '/follow/{{name}}/'+un,
        success: function (response) { 
        } 
    });
    }

    </script>
  </body>


  </html>
