<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
  <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>

  <style>
    body{ 
      font-size: 15pt;
      font-family: arial;
    }
    .col-md-6{
   
    }
  </style>

</head>
<body>

<div class="modal fade" id="comments" role="dialog">
      <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal">&times;</button>
          </div>
          <div id="modalBody" class="modal-body">
            <div id="modalBodyContainer" class="container-fluid text-center">
            </div>
          </div>

          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
          </div>
        </div>    
      </div>
    </div>

<h1>{{name}}</h1>
<div class="container text-center">
    {% for photo in photos %}
    	<p><img src={{photo.url}} width="200" height="200"></p>
      <p>By {{photo.owner}} - Likes {{photo.likes}}</p>
      <button type="button" class="btn btn-default" data-toggle="modal" data-target="#comments" onclick="getComments('{{photo.pid}}')">Comments</button><p></p>
    {% endfor %}
</div>


<script type="text/javascript">

function getComments(pid){

document.getElementById("modalBodyContainer").innerHTML = "";
$.ajax({
      url: '/comments/'+pid,
      success: function (response) { 
        var i;
        var comments = response.comments;
        for(i = 0; i<comments.length; i++){
          document.getElementById("modalBodyContainer").innerHTML += '<p><strong>'+comments[i].commenter+'</strong> said: '+comments[i].text+'</p>';
        }
        
      }
    });
}

</script>
</body>


</html>
